.cards {
  min-height: 450px;
  border-radius: 12px;
  color: $BLACK;

  &__img {
    height: 180px;
    margin: 0 auto;
    width: 60%;
    object-fit: contain;
  }

  &__body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    &-title {
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &-text {
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
