.card {
  min-height: 450px;
  border-radius: 12px;

  img {
    height: 180px;
    margin: 0 auto;
    width: 60%;
    object-fit: contain;
  }

  .card-body {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .card-title {
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .card-text {
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
