body {
    background-color: $DARK-GRAY;
    font-family: $FONT-FAMILY;

    ::-moz-selection {
        color: $LIGHT-GRAY;
        background: $MARVEL-RED;
      }
      
      ::selection {
        color: $LIGHT-GRAY;
        background: $MARVEL-RED;
      }
}

.App.container {
    h2 {
        text-align: center;
    }
}