.card-body {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body .card-title {
  display: -webkit-inline-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-body .card-text {
  display: -webkit-inline-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
