.detailView {
  .detail-image {
    height: 500px;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
  }

  .detail-wiki-list {
    padding: 0px;
    display: flex;
    list-style: none;
  }

  .detail-badge {
    letter-spacing: 1px;
  }
}
