body {
  background-color: $DARK-GRAY;
  color: $LIGHT-GRAY;
  font-family: $FONT-FAMILY;

  ::-moz-selection {
    color: $LIGHT-GRAY;
    background: $MARVEL-RED;
  }

  ::selection {
    color: $LIGHT-GRAY;
    background: $MARVEL-RED;
  }

  .App.container {
    .home-section-title {
      text-align: center;
    }
  }
}
