.fav-list {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: flex-start;

  &__items {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px;

    &-img {
      height: 60px;
      margin-right: 20px;
      width: 60px;
    }
  }  
}
