.filter-container {
  max-height: 400px;
  overflow-y: scroll;
  padding-left: 5px;
}

hr {
  width: 90%;
  margin: 1rem auto;
  background-color: $MARVEL-RED;
  opacity: 0.6;

  &:not([size]) {
    height: 3px;
  }
}
