.navigation-bar {
  .navigation-list {
    .navigation-items {
      .navigation-links {
        color: $LIGHT-GRAY;
        letter-spacing: 0.5px;

        &.active {
          color: $LIGHT-GRAY;
          font-weight: bold;
        }
      }
    }
  }

  .application-logo {
    &.app-logo {
      width: 100px;
    }
  }
}
